# Copyright (c) 2024 Devexperts LLC.
# SPDX-License-Identifier: MPL-2.0
BasedOnStyle: LLVM
ColumnLimit: 120
ContinuationIndentWidth: 4
IndentPPDirectives: AfterHash
TabWidth: 4
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
