# Copyright (c) 2023 Devexperts LLC.
# SPDX-License-Identifier: MPL-2.0

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
cmake-build-*/
.idea/
/doc/html/
/doc/latex/

.PVS-Studio/
*.PVS-Studio.*
