# Copyright (c) 2024 Devexperts LLC.
# SPDX-License-Identifier: MPL-2.0

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
cmake-build-*/
.idea/
/docs/html/
/docs/latex/
/docs/*.log

.PVS-Studio/
*.PVS-Studio.*

build-*/

dist/
dist-*/

CMakeSettings.json
*.patch
.vs/**
